img {
    width: 350px;
    border-radius: 5px;
    padding: 5px;
    margin: 10px auto;
    display: block;
}

h1 {
    width: 300px;
    border-radius: 5px;
    padding: 5px;
    margin: 10px auto;
    display: block;
}

input {
    padding: 5px 10px;
    font-size: 14px;
}

button {
    background: cornflowerblue;
    color: white;
    border: none;
}

.result {
    border-radius: 5px;
    padding: 5px;
    display: none;
    font-size: 15px;
    width: 300px;
}